.cookies {
  text-align: center;

  .cookies-text {
    color: $c-grey-default;
    font-family: Nunito, serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-decoration-line: underline;
  }
}
